AnchorPane {
    -fx-background-color: #9791c1
}

#logoutButton {
    -fx-background-color: #604fc7;
    /*-fx-border-radius: 3px;*/
    /*-fx-border-color: white;*/
    /*-fx-border-width: 2px;*/
    -fx-background-insets: 0;
}

#logoutButton .text {
    -fx-font-family: "Helvetica", Sans-serif;
    -fx-font-weight: Bold;
    -fx-font-size: 15px;
    -fx-fill: white;
}

.button {
    -fx-background-color: white;
    -fx-border-radius: 3px;
    -fx-border-color: #604fc7;
    -fx-border-width: 2px;
    -fx-background-insets: 0;
}

.button .text {
    -fx-font-family: "Helvetica", Sans-serif;
    -fx-font-size: 10px;
    -fx-fill: black;
}

#actionsGridView .button .text {
    -fx-font-family: "Helvetica", Sans-serif;
    -fx-font-size: 15px;
    -fx-fill: black;
}

#medicationsTable {
    -fx-background-color: white;
}

#medicationsTable .column-header {
    -fx-background-color: #604fc7;
}

#medicationsTable .column-header .text {
    -fx-fill: white;
    -fx-font-size: 15px;
}